.formality__btn {
	color: var(--formality_col2);
	border-radius: 0;
	font-size: 1em;
	line-height: 1.4em;
	padding: 0.7em 1.5em;
	background: var(--formality_col1);
	border-color: var(--formality_col1);
	border-width: 2px;
	border-style: solid;
	display: flex;
	align-items: center;
	&:hover {
		&:before,
		&:after {
			opacity: 1;
		}
	}
	&:before,
	&:after {
		transition: all 0.15s ease-in-out;
		content: "";
		display: none;
		vertical-align: middle;
		font-size: 0.8em;
		line-height: 1.25em;
		width: 1.25em;
		height: 1.25em;
		background: var(--formality_col2);
		border-radius: 50%;
		opacity: 0.3;
		margin: 0;
	}
	&--next {
		&:after {
			display: inline-block;
			margin-left: 0.75em;
		}
	}
	&--prev {
		&:before {
			display: inline-block;
			margin-right: 0.75em;
		}
	}
	&--submit {
		&:after {
			display: inline-block;
			margin-left: 0.75em;
		}
	}
}