.formality__field {
	flex-shrink: 0;
	width: 100%;
	margin-bottom: 1.75em;
	padding: 0 12px;
	transition: opacity 0.18s linear;
	opacity: 0.5;
	position: relative;
	will-change: opacity, scroll-position;
	&:hover {
  	.formality__input {
  	  //box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    }
	}
	.formality__input {
		border-radius: var(--formality_radius);
		border-width: var(--formality_border);
		border-style: solid;
		border-color: var(--formality_col1);
		position: relative;
		&__status {
			position: absolute;
			overflow: hidden;
			display: block;
			top: 100%;
			left: calc(-1 * var(--formality_border));
			right: calc(-1 * var(--formality_border));
			pointer-events: none;
  		&[data-placeholder]:after {
  			content: attr(data-placeholder);
  			line-height: 1em;
        font-size: 0.8em;
  			padding: 0.35em;
        width: 100%;
  			display: block;
  			pointer-events: none;
  			transition: transform 0.18s ease-in-out;
  			background: var(--formality_col1);
  			color: var(--formality_col2);
  			border-radius: 0 0 var(--formality_radius) var(--formality_radius);
  			border-width: var(--formality_border);
  			border-top-width: calc(var(--formality_radius) + var(--formality_border));
  			border-style: solid;
  			border-color: var(--formality_col1);
  			transform: translateY(-100%);
  		}
    }
		&__errors {
			list-style: none;
			position: absolute;
			font-size: 0.8em;
			line-height: 1em;
			padding: 0.35em;
			display: block;
			width: 100%;
			left: 0;
			right: 0;
			top: 0;
			pointer-events: none;
			background: var(--formality_col1);
			border-radius: var(--formality_radius);
			border-width: var(--formality_border);
 			border-top-width: calc(var(--formality_radius) + var(--formality_border));
			border-style: solid;
			border-color: var(--formality_col1);
			opacity: 0;
			z-index: 2;
			margin: 0;
			li {
				display: none;
				line-height: 1em;
				color: var(--formality_col2);
				&:first-child {
					display: block;
				}
			}
			&:empty {
				display: none;
			}
		}
		input,
		textarea,
		select {
			width: 100%;
			height: auto;
			max-width: 100%;
			font-size: 1em;
			line-height: 1.4em;
			padding: 0.7em;
			margin: 0;
			color: var(--formality_col1);
			border: none;
			display: block;
			background: none;
			position: relative;
			z-index: 1;
			border-radius: calc(var(--formality_radius) - 1px);
			outline: none;
			box-shadow: none;
			font-family: $font-family;
			&::-webkit-input-placeholder {
			  font-family: $font-family;
			  transition: transform 0.18s ease-in-out, opacity 0.18s linear;
			  color: var(--formality_col1);
			}
			&::-moz-placeholder {
			  font-family: $font-family;
			  transition: transform 0.18s ease-in-out, opacity 0.18s linear;
			  color: var(--formality_col1);
			}
			&:-ms-input-placeholder {
			  font-family: $font-family;
			  transition: transform 0.18s ease-in-out, opacity 0.18s linear;
			  color: var(--formality_col1);
			}
			&:-moz-placeholder {
			  font-family: $font-family;
			  transition: transform 0.18s ease-in-out, opacity 0.18s linear;
			  color: var(--formality_col1);
			}
			&::-webkit-contacts-auto-fill-button,
			&::-webkit-credentials-auto-fill-button {
		    visibility: hidden;
		    pointer-events: none;
		    position: absolute;
		    right: 0;
			}
		}
		select {
      appearance: none;
		}
		input[type=number]{
  		&::-webkit-inner-spin-button, 
      &::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
		  }
		}
		.formality__note {
  		font-size: 0.9em;
  		margin-bottom: 0.6em;
  		margin-top: -0.3em;
  		&:empty {
    		display: none;
  		}
		}
		&__grid {
  		display: flex;
  		flex-wrap: wrap;
   		margin-left: -12px;
   		margin-right: -12px;
   		> * {
        padding-left: 12px;
      	padding-right: 12px;
      	width: 100%;
   		}
  		&--2 > * { width: 50%; }
  		&--3 > * { width: 33.33%; }
		}
	}
	> .formality__label {
		text-transform: uppercase;
		font-size: 0.8em;
		margin: 0;
		color: var(--formality_col1);
		font-weight: bold;
		line-height: 1.5em;
	}
	&--required {
		> .formality__label {
			&:after {
				content: "*";
				display: inline-block;
				margin-left: 4px;
				cursor: pointer;
			}
		}
	}
	&--half {
		width: 50%;
		@include breakpoint(mobile_xl) {
			width: 100%;
		}
	}
	&--error {
  	&.formality__field--switch,
  	&.formality__field--multiple {
    	.formality__input {
      	.formality__label {
        	i {
        	  &:before { background: red; }
        	  &:after { border-color: red; }
        	}
        	span {
          	color: red;
          	a {
            	color: red;
            	border-bottom-color: red;
          	}
        	}
      	}
    	}
  	}
  	&.formality__field--textarea {
    	.formality__textarea__counter {
        color: red; 	
    	}
    }
    &.formality__field--select {
      .formality__input:before {
        color: red;
      }
    }
    &.formality__field--number .formality__input .formality__input__spinner a:before {
      color: red;
    }
		.formality__input {
			border-color: red;
			&__status {
  			&[data-placeholder]:after {
  				border-color: red;
  				background: red;
  				//color: white;
  			}
			}
			.formality__note {
  		  color: red;	
			}
			&__errors {
				border-color: red;
				background: red;
				//color: white;
				li {
  				//color: white;
				}
			}
			input,
			textarea {
				&::-webkit-input-placeholder {
				  color: red;
				}
				&::-moz-placeholder {
				  color: red;
				}
				&:-ms-input-placeholder {
				  color: red;
				}
				&:-moz-placeholder {
				  color: red;
				}
			}
			select {
  			color: red;
			}
		}
		> .formality__label {
			color: red;
		}
	}
	&--focus {
		opacity: 1;
		z-index: 1;
		&:hover {
  	  .formality__input {
  	    box-shadow: none;
      }
	  }
		.formality__input {
  		&__status {
  			&[data-placeholder]:after {
  				transform: translateY(0%);
  			}
      }
			&__errors {
				animation: pulse 3s infinite alternate;
			}
			select {
  			color: transparent;
			}
			input,
			textarea {
				&::-webkit-input-placeholder {
				  opacity: 0;
				  transform: translateY(30%);
				}
				&::-moz-placeholder {
				  opacity: 0;
				  transform: translateY(30%);
				}
				&:-ms-input-placeholder {
				  opacity: 0;
				  transform: translateY(30%);
				}
				&:-moz-placeholder {
				  opacity: 0;
				  transform: translateY(30%);
				}
			}
		}
	}
  &--filled {
		opacity: 1;
		&:hover {
  	  .formality__input {
  	    box-shadow: none;
      }
	  }
	  .formality__input {
  	  select {
        color: var(--formality_col1);
  	  }
	  }
	}
	&--disabled {
  	display: none;
	}
	&--select {
  	&.formality__field--select-js {
    	.formality__input {
  			select {
    		  transition: transform 0.18s ease-in-out, color 0.18s linear;
    		  //pointer-events: none;
  			}
      }
    	&.formality__field--focus {
      	//z-index: 2;
    		.formality__input {
      		&:before {
        		transform: rotate(180deg);
      		}
    			select {
    				transform: translateY(20%);
            color: transparent;
    			}
          .formality__select__list {
      			height: 9.2em;
      			&.options--1,
      			&.options--2 {
        			height: 4.1em;
      			}
      			&.options--3, {
        			height: 5.7em;
      			}
      			&.options--4, {
        			height: 7.3em;
      			}
      			&.options--5, {
        			height: 8.9em;
      			}
    			}
        }
      }
      &.formality__field--filled {
    		.formality__input {
    			select {
      		  transform: translateY(0%);
            color: var(--formality_col1);
    			}
        }
      }
  	}
  	.formality__input {
    	&:before {
      	font-size: 1.1em;
      	content: "keyboard_arrow_down";
      	font-family: 'Material Icons';
      	position: absolute;
      	z-index: 2;
      	line-height: 1.2;
      	padding: 0.7em 0.6em;
      	right: 0;
      	transition: all 0.18s ease-in-out;
      }
      .formality__select__fake {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 10; 
      }
    	.formality__select__list {
      	margin: 0;
      	transition: all 0.2s ease-in-out;
      	will-change: height;
      	position: relative;
      	overflow: hidden;
      	height: 0;
      	z-index: 2;
      	&:before {
          background: var(--formality_col1);
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          opacity: 0.15;
          top: 0;
          left: 0;
          z-index: 0;
      	}
      	ul {
        	margin: 0;
        	padding: 0.4em 0;
        	list-style: none;
        	height: 100%;
        	display: block;
        	overflow-y: scroll;
        	li {
          	z-index: 1;
          	position: relative;
            line-height: 1.2em;
            font-size: 0.9em;
            padding: 0.25em 0.8em;
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin: 0.1em 0;
            cursor: pointer;
            touch-action: manipulation;
            user-select: none;
            &:hover,
            &.focus {
              &:before {
                opacity: 0.5;
              }
            }
            &:before {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              content: "";
              opacity: 0;
              background: var(--formality_col2);
              z-index: -1;
              pointer-events: none;
            }
            &.selected {
              position: relative;
              z-index: 1;
              &:before {
                opacity: 0.5;
              }
              &:after {
                content: "check";
                font-family: 'Material Icons';
              }
            }
        	}
        }
    	}
  	}
	}
	&--textarea {
  	&.formality__field--focus {
    	.formality__textarea__counter {
      	opacity: 0.6;
    	}
  	}
  	.formality__textarea__counter {
    	position: absolute;
    	right: 0;
    	bottom: 0;
    	padding: 0.5em 0.7em;
    	font-size: 0.8em;
    	pointer-events: none;
    	z-index: 2;
    	transition: opacity 0.18s linear;
  	}
	}
	&--number {
  	.formality__input {
    	input {
      	-webkit-appearance: textfield;
        -moz-appearance: textfield;
        appearance: textfield;
        padding-right: 1.8em;
      }
      .formality__input__spinner {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
        text-align: center;
        padding: 0.6em;
        font-size: 0.9em;
        a {
          display: block;
          line-height: 0.8;
          &:before {
            font-family: 'Material Icons';
          }
          &:first-child:before { content: "arrow_drop_up"; }
          &:last-child:before { content: "arrow_drop_down"; } 
        }
      }
    }
	}
	&--switch,
	&--multiple {
  	> .formality__label {
    	display: block;
    	margin-bottom: 0.3em;
  	}
  	.formality__input {
    	border: none;
    	input {
      	opacity: 0;
      	position: absolute;
      	pointer-events: none;
      	&:checked {
        	+ .formality__label {
          	i {
            	&:before {
            	  left: calc(100% - 1em);
                background: var(--formality_col2);
            	}
            	&:after {
              	color: var(--formality_col2);
              	background: var(--formality_col1);
            	}
          	}
          	&--checkbox {
            	i {
              	&:before {
                	left: 0;
              	  transform: scale(1);
                  opacity: 1;
                  background: none;
              	}
              	&:after {
              		top: calc(-1 * var(--formality_border));
              		left: calc(-1 * var(--formality_border));
                  right: calc(-1 * var(--formality_border));
                  bottom: calc(-1 * var(--formality_border));
                  background: none;
              	}
            	}
            }
          	&--radio {
            	i {
              	&:before {
                	left: 0;
                	top: 0;
              	  transform: scale(0.6);
                  opacity: 1;
                  background: var(--formality_col1);
              	}
              	&:after {
              		top: calc(-1 * var(--formality_border));
              		left: calc(-1 * var(--formality_border));
                  right: calc(-1 * var(--formality_border));
                  bottom: calc(-1 * var(--formality_border));
                  background: none;
              	}
            	}
            }
        	}
      	}
    	}
    	.formality__label {
      	display: flex;
      	//width: 100%;
      	//align-items: center;
      	font-size: 0.9em;
      	cursor: pointer;
      	user-select: none;
      	margin-top: 0.1em;
      	margin-bottom: 0.5em;
      	span {
        	a {
          	color: var(--formality_col1);
            text-decoration: none;
            border-bottom: var(--formality_border) solid var(--formality_col1);
        	}
      	}
        i {
        	display: inline-block;
       		font-size: 1.4em;
          flex-grow: 0;
          flex-shrink: 0;
          width: 2em;
          height: 1em;
          margin-right: 0.6em;
          margin-top: 0.1em;
      		font-style: normal;
      		position: relative;
      		&:before {
        		transition: all 0.1s ease-in-out;
          	position: absolute;
          	background: var(--formality_col1);
          	z-index: 2;
          	top: 0;
          	left: 0;
          	display: block;
          	width: 1em;
          	height: 1em;
          	border-radius: 50%;
          	transform: scale(0.5);
            content: "";
      		}
      		&:after {
        		content: "";
        		display: block;
        		position: absolute;
        		top: 0;
        		left: 0;
            right: 0;
            bottom: 0;
        		border-width: var(--formality_border);
        		border-style: solid;
        		border-color: var(--formality_col1);
        		transition: all 0.1s ease-in-out;
        		border-radius: 1em;
        		content: "check";
            font-family: 'Material Icons';
            text-align: left;
            font-size: 0.6em;
            padding: 0 0.3em;
            color: transparent;
      		}
      	}
      	&--checkbox {
        	i {
          	font-size: 1.2em;
            width: 1em;
            height: 1em;
            margin-right: 0.6em;
            margin-top: 0.1em;
        		&:before {
          		opacity: 0;
          		transition: all 0.1s ease-in-out;
          		transform: scale(0.6);
          		background: none;
            	content: "check";
            	font-family: 'Material Icons';
            	position: absolute;
            	padding: 0;
            	line-height: 1em;
            	border-radius: 0;
        		}
        		&:after {
              border-radius: 0;
          		border-width: var(--formality_border);
          		border-style: solid;
          		border-color: var(--formality_col1);
          		transition: all 0.1s ease-in-out;
          		font-size: 1em;
          		padding: 0;
          		content: "";
        		}
        	}
      	}
      	&--radio {
        	i {
          	font-size: 1.2em;
            width: 1em;
            height: 1em;
            margin-right: 0.6em;
            margin-top: 0.1em;
        		&:before {
          		opacity: 0;
          		transition: all 0.1s ease-in-out;
          		transform: scale(0.3);
          		background: var(--formality_col1);
          		content: "";
            	position: absolute;
            	padding: 0;
            	line-height: 1em;
            	border-radius: 50%;
        		}
        		&:after {
              border-radius: 0;
          		border-width: var(--formality_border);
          		border-style: solid;
          		border-color: var(--formality_col1);
          		transition: all 0.1s ease-in-out;
          		font-size: 1em;
          		padding: 0;
          		content: "";
          		border-radius: 50%;
        		}
        	}
      	}
    	}
    	&:after {
      	display: none;
    	}
  	}
	}
}
