.formality__field {
	flex-shrink: 0;
	width: 100%;
	margin-bottom: 1.3em;
	padding: 0 12px;
	transition: opacity 0.18s linear;
	opacity: 0.4;
	&:hover {
  	.formality__input {
  	  box-shadow: 0 2px 6px 0 rgba(0,0,0,.2);
    }
	}
	.formality__input {
		border-radius: var(--formality_radius);
		border-width: var(--formality_border);
		border-style: solid;
		border-color: var(--formality_col1);
		position: relative;
		&:after {
			content: attr(data-placeholder);
			position: absolute;
			font-size: 0.8em;
			line-height: 1em;
			padding: 0.4em;
			display: block;
			left: calc(-1 * var(--formality_border));
			right: calc(-1 * var(--formality_border));
			bottom: var(--formality_radius);
			pointer-events: none;
			transition: transform 0.18s ease-in-out;
			background: var(--formality_col1);
			color: var(--formality_col2);
			border-radius: 0 0 var(--formality_radius) var(--formality_radius);
			border-width: var(--formality_border);
			border-top-width: calc(var(--formality_radius) + var(--formality_border));
			border-style: solid;
			border-color: var(--formality_col1);
		}
		&__errors {
			list-style: none;
			position: absolute;
			font-size: 0.8em;
			line-height: 1em;
			padding: 0.4em;
			display: block;
			left: calc(-1 * var(--formality_border));
			right: calc(-1 * var(--formality_border));
			top: 100%;
			pointer-events: none;
			background: var(--formality_col1);
			border-radius: var(--formality_radius);
			border-width: var(--formality_border);
			border-style: solid;
			border-color: var(--formality_col1);
			opacity: 0;
			z-index: 2;
			margin: 0;
			li {
				display: none;
				line-height: 1em;
				color: var(--formality_col2);
				&:first-child {
					display: block;
				}
			}
			&:empty {
				display: none;
			}
		}
		input,
		textarea,
		select {
			width: 100%;
			max-width: 100%;
			font-size: 1em;
			line-height: 1.4em;
			padding: 0.7em;
			margin: 0;
			color: var(--formality_col1);
			border: none;
			display: block;
			background: var(--formality_col2);
			position: relative;
			z-index: 1;
			border-radius: calc(var(--formality_radius) - 1px);
			&::-webkit-input-placeholder {
			  font-family: $font-family;
			  transition: transform 0.18s ease-in-out, opacity 0.18s linear;
			  color: var(--formality_col1);
			}
			&::-moz-placeholder {
			  font-family: $font-family;
			  transition: transform 0.18s ease-in-out, opacity 0.18s linear;
			  color: var(--formality_col1);
			}
			&:-ms-input-placeholder {
			  font-family: $font-family;
			  transition: transform 0.18s ease-in-out, opacity 0.18s linear;
			  color: var(--formality_col1);
			}
			&:-moz-placeholder {
			  font-family: $font-family;
			  transition: transform 0.18s ease-in-out, opacity 0.18s linear;
			  color: var(--formality_col1);
			}
			&::-webkit-contacts-auto-fill-button,
			&::-webkit-credentials-auto-fill-button {
		    visibility: hidden;
		    pointer-events: none;
		    position: absolute;
		    right: 0;
			}
		}
		select {
      appearance: none;
		}
	}
	.formality__label {
		text-transform: uppercase;
		font-size: 0.8em;
		margin: 0;
		color: var(--formality_col1);
		font-weight: bold;
		line-height: 1.5em;
	}
	&--required {
		.formality__label {
			&:after {
				content: "*";
				display: inline-block;
				margin-left: 4px;
				cursor: pointer;
			}	
		}
	} 
	&--half,
	&--width1 {
		width: 50%;
		@include breakpoint(mobile_xl){
			width: 100%;
		}
	}
	&--filled {
		opacity: 1;
		&:hover {
  	  .formality__input {
  	    box-shadow: none;
      }
	  }
	}
	&--error {
		.formality__input {
			border-color: red;
			&:after {
				border-color: red;
				background: red;
				//color: white;
			}
			&__errors {
				border-color: red;
				background: red;
				//color: white;
				li {
  				//color: white;
				}
			}
			input,
			textarea {
				&::-webkit-input-placeholder {
				  color: red;
				}
				&::-moz-placeholder {
				  color: red;
				}
				&:-ms-input-placeholder {
				  color: red;
				}
				&:-moz-placeholder {
				  color: red;
				}
			}
		}
		.formality__label {
			color: red;
		}
	}
	&--focus {
		opacity: 1;
		&:hover {
  	  .formality__input {
  	    box-shadow: none;
      }
	  }
		.formality__input {
			&:after {
				transform: translateY(100%);
			}
			&__errors {
				animation: pulse 3s infinite alternate;
			}
			input,
			textarea {
				&::-webkit-input-placeholder {
				  opacity: 0;
				  transform: translateY(30%);
				}
				&::-moz-placeholder {
				  opacity: 0;
				  transform: translateY(30%);
				}
				&:-ms-input-placeholder {
				  opacity: 0;
				  transform: translateY(30%);
				}
				&:-moz-placeholder {
				  opacity: 0;
				  transform: translateY(30%);
				}
			}
		}
	}
}