.edit-post-visual-editor {
  color: var(--formality_col1);
  background-color: var(--formality_col2);
  background-image: var(--formality_bg);
  background-attachment: fixed;
  background-size: cover;
  background-position: var(--formality_position);
  font-size: var(--formality_fontsize);
  position: relative;
  z-index: 1;
  &:before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--formality_col2);
    opacity: var(--formality_overlay);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
  &:after {
    content: "";
    width: 100%;
    height: 100%;
    background: white;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    transition: opacity 0.25s linear;
  }
  &.is-loaded {
    &:after {
      opacity: 0;
      pointer-events: none;
    }
  }
  &.conversational {
    .editor-block-list__layout {
      font-size: 1.2em;
      > .wp-block {
  		  &.wp-block--halfwidth {
    		  width: 100%;
  		  }
  		  .formality__field {
					padding-top: 5vh;
					padding-bottom: 5vh;
				}
      }
    }
  }
  .editor-post-title__block {
    max-width: 700px;
  	padding: 12px;
  	margin: 0 auto;
    &:before {
      background: var(--formality_col1);
    }
    .editor-post-title__input {
      color: var(--formality_col1);
      font-family: $font-family;
      text-shadow: none;
      font-size: 3.5em;
    }
  }
  .editor-block-list__layout {
  	font-family: $font-family;
  	max-width: 700px;
  	padding: 12px;
  	margin: 0 auto;
		flex-wrap: wrap;
		display: flex;
		width: calc(100% + 24px);
		.block-editor-block-mover {
  		background: none;
  		button {
    		&:hover {
    		  background: white;
    		}
  		}
		}
		.editor-default-block-appender>.editor-default-block-appender__content,
		> .editor-block-list__block>.editor-block-list__block-edit,
		>.editor-block-list__layout>.editor-block-list__block>.editor-block-list__block-edit {
  		margin-top: 0.6em;
      margin-bottom: 1em;
		}
		.block-list-appender {
  		width: 100%;
  		padding: 16px;
  		margin: 16px 0 0;
  		.block-list-appender__toggle {
    		background: none;
    		outline: 2px dashed var(--formality_col1);
    		box-shadow: none;
        color: var(--formality_col1);
        opacity: 0.4;
        padding: 16px;
        &:hover {
          opacity: 1;
        }
  		}
		}
		> .wp-block {
  		width: 100%;
  		max-width: 100%;
  		margin-left: 0;
  		margin-right: 0;
  		&.wp-block--halfwidth {
    		width: 50%;
  		}
  		.block-editor-block-mover__control {
    		svg {
    		  fill: var(--formality_col1);
    		}
    		&:not(div):hover {
      		svg {
        		fill: currentColor
      		}
    		}
  		}
  		[data-block] {
    		margin-top: 15px;
    		margin-bottom: 15px;
  		}
  		.formality__field,
  		.formality__message {
    		padding: 0;
    		margin: 0;
    		.formality__label {
      		pointer-events: none;
      		svg.dashicon {
        		float: right;
      		}
    		}
    		input,
    		textarea,
    		select {
      		pointer-events: none;
    		}
    		&--select {
      		.formality__input:before {
        		width: 100%;
        		text-align: right;
      		}
    		}
  		}
		}
  }
}