.edit-post-visual-editor {
  color: var(--formality_col1);
  background-color: var(--formality_col2);
  background-image: var(--formality_bg);
  background-attachment: fixed;
  background-size: cover;
  background-position: var(--formality_position);
  font-size: var(--formality_fontsize);
  position: relative;
  z-index: 1;
  padding-top: 50px;
  &:before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--formality_col2);
    opacity: var(--formality_overlay);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
  &:after {
    content: "";
    width: 100%;
    height: 100%;
    background: white;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    transition: opacity 0.25s linear;
  }
  &.is-loaded {
    &:after {
      opacity: 0;
      pointer-events: none;
    }
  }
  .editor-post-title__block > div {
    margin-left: -2px;
    margin-right: -2px;
  }
  &.conversational {
    .block-editor-block-list__layout {
      font-size: 1.1em;
      @media(max-width:1280px) {
        font-size: 1em;
      }
      > .wp-block {
        &.wp-block--halfwidth {
          width: 100%;
        }
        .formality__field {
          padding-top: 4vh;
          padding-bottom: 4vh;
          > .formality__label {
            font-size: 1em;
            display: block;
            margin-bottom: 0.4em;
            text-transform: none;
            font-weight: normal;
            position: relative;
          }
        }
      }
    }
  }
  &.line {
    .block-editor-block-list__layout {
      .formality__field {
        margin-bottom: 2em;
        .formality__input {
          border-top: none;
          border-right: none;
          border-left: none;
          input,
          textarea,
          select {
            padding-top: 0.5em;
            padding-left: 0;
            padding-right: 0;
          }
          &__status {
            left: 0;
            right: 0;
            &[data-placeholder]:after {
              background: none;
              color: var(--formality_col1);
              padding: 0.5em 0;
              border: none;
            }            
          }
        }
      }    
    }
    &.conversational {      
      .block-editor-block-list__layout {
        > .wp-block {
          .formality__field {
            > .formality__label {
              margin-bottom: 0.2em;
            }
          }
        }
      }
    }
  }
  &.side {
    background-image: none;
    &:before {
      position: fixed;
      left: auto;
      right: 0;
      opacity: 1;
      background-position: center center;
      background-repeat: no-repeat;
      background-image: var(--formality_bg);
      background-size: cover;
      width: 30%;
      @media(max-width:1280px) {
        width: 20%;
      }
      @media(max-width:782px) {
        width: 15%;
      }
    }
    .block-editor__typewriter {
      max-width: 70%;
      padding-right: 30px;
      @media(max-width:1280px) {
        max-width: 80%;
      }
      @media(max-width:782px) {
        max-width: 85%;
      }
    }
  }
  .block-editor-block-contextual-toolbar-wrapper {
    padding-left: 0;
  }
  .block-editor-block-contextual-toolbar {
    margin-left: 0 !important;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-color: var(--formality_col1);
    border-left: none;
    &:before {
      content: "";
      position: absolute;
      background: var(--formality_col1);
      width: 3px;
      top: 0;
      height: 80px;
      left: -3px;
    }
    .block-editor-block-toolbar {
      box-shadow: -3px 0 0 0 var(--formality_col1) !important;
      position: relative;
      .block-editor-block-mover {
        background: none !important;
        button {
          &.block-editor-block-mover__control-drag-handle {
            display: none !important;
          }
          svg {
            padding: 0 !important;
            //fill: var(--formality_col2);
          }
          &:hover {
            svg {
              fill: currentColor
            }
          }
        }
      }
      .block-editor-block-toolbar__mover-trigger-wrapper {
        border-color: var(--formality_col1);
        margin-left: -3px;
        .block-editor-block-mover {
          button {
            svg {
              fill: currentColor
            }
          }
        }
      }
      .block-editor-block-toolbar__block-switcher-wrapper {
        border-radius: 0;
      }
    }
  }
  .editor-post-title__block {
    max-width: 674px;
    margin: 0 auto;
    font-size: var(--formality_fontsize);
    &:before {
      all: initial;
      content: "";
      display: var(--formality_logo_toggle);
      height: var(--formality_logo_height);
      background-position: left top;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: var(--formality_logo);
      margin-left: 14px;
      margin-bottom: 1em;
      margin-top: 1em;
    }
    &.is-selected {
      .editor-post-title__input {
        box-shadow: -3px 0 0 0 var(--formality_col1);
        border-color: transparent;
      }
      .editor-post-permalink {
        box-shadow: -3px 0 0 0 var(--formality_col1);
      }
    }
    .editor-post-title__input {
      color: var(--formality_col1);
      font-family: $font-family;
      text-shadow: none;
      font-size: 2.6em;
      padding: 19px 12px;
      border-color: transparent;
      transition: none;
      text-align: left;
      letter-spacing: normal;
      &::-webkit-input-placeholder {
        color: var(--formality_col1);
        opacity: 0.6;
      }
      &:-ms-input-placeholder {
        color: var(--formality_col1);
        opacity: 0.6;
      }
      &::placeholder {
        color: var(--formality_col1);
        opacity: 0.6;
      }
    }
  }
  .block-editor-block-list__layout {
    font-family: $font-family;
    max-width: 700px;
    padding: 12px;
    margin: 0 auto;
    flex-wrap: wrap;
    display: flex;
    width: calc(100% + 24px);
    line-height: 1.4;
    .block-list-appender {
      width: 100%;
      padding: 16px;
      margin: 16px 0 0;
      cursor: pointer;
      .block-editor-inserter {
        font-size: var(--formality_fontsize);
        &:after {
          margin-top: 2.4em;
          display: inline-block;
          position: absolute;
          right: 0;
          margin-left: auto;
          width: auto;
          content: var(--formality_send_text);
          color: var(--formality_col2);
          line-height: 1.5em;
          padding: 0.75em 2em;
          background: var(--formality_col1);
          border-color: var(--formality_col1);
          border-width: 2px;
          border-style: solid;
          cursor: pointer;
          font-weight: bold;
          border-radius: 0.3em;
        }
      }
      .block-list-appender__toggle {
        background: none;
        width: 100%;
        margin: 0;
        height: auto;
        outline: 2px dashed var(--formality_col1);
        box-shadow: none;
        color: var(--formality_col1) !important;
        opacity: 0.4;
        padding: 16px;
        background: none !important;
        box-shadow: none !important;
        .components-visually-hidden + svg {
          width: 32px;
          height: auto;
          fill: currentColor;
          background-color: var(--formality_col1);
          color: var(--formality_col2);
        }
        &:hover {
          opacity: 1;
        }
      }
      &:after {
        content: var(--formality_credits);
        font-size: 0.7em;
        opacity: 0.5;
        padding-top: 2em;
        margin-top: 12em;
        display: block;
        white-space: pre-wrap;
        border-top-color: var(--formality_col1_alpha);
        border-top-style: solid;
        border-top-width: 1px;
      }
    }
    > .wp-block {
      width: 100%;
      max-width: 100%;
      padding: 0 12px;
      margin: 12px 0 20px;
      &.wp-block--halfwidth {
        width: 50%;
      }
      &:before,
      &:after {
        right: 0;
        left: 0;
        border-color: var(--formality_col1);
        border: none;
        box-shadow: -3px 0 0 0 var(--formality_col1);
        opacity: 0;
        border-radius: 0;
      }
      &.is-selected {
        &:before,
        &:after {
          opacity: 1;
        }
      }
      .formality__section__header {
        margin-bottom: 0;
      }
      .formality__message,
      .formality__media {
        padding: 0;
        margin: 0;
        p {
          font-family: $font-family;  
        }
        a {
          transition: none;
        }
        > svg {
          position: absolute;
          top: 0;
          right: 0;
        }
      }
      .formality__field  {
        padding: 0;
        margin: 0;
        .formality__label {
          pointer-events: none;
          svg.dashicon {
            float: right;
          }
        }
        input,
        textarea,
        select {
          pointer-events: none;
        }
        &--select {
          .formality__input:before {
            width: 100%;
            text-align: right;
          }
        }
      }
    }
  }
}
.edit-post-header {
  .block-editor-post-preview__dropdown {
    display: none;
  }
}

.block-editor-inserter {
  &__tabs {
    .components-tab-panel__tabs {
      display: none;
    }
  }
  &__tips {
    display: none;
  }
  &__block-list {
    > div {
      > * {
        display: none;
        &:nth-last-child(-n+4) {
          display: block;
        }
      }
    }  
  }
}

.block-editor-block-navigation-leaf.is-selected {
  button {
    background: #eee;
  }
  .block-editor-block-icon {
    svg {
      background: none;
      box-shadow: none;
    }
  }
}

.is-sidebar-opened .edit-post-visual-editor.side {
  &:before {
    right: 280px;
    width: calc((100vw - 280px) / 100 * 30);
    @media(max-width:1280px) {
      width: calc((100vw - 280px) / 100 * 20);
    }
    @media(max-width:782px) {
      right: 0;
      width: 15%;
    }
  }
} 

