ul#adminmenu>li.current>a.current:after,
ul#adminmenu a.wp-has-current-submenu:after {
  border-right-color: var(--formality_col2) !important;
  transition: border 0.25s linear;
}
.edit-post-layout .components-notice-list {
  background: var(--formality_col2) !important;
  transition: background 0.25s linear;
}

&:not(.branch-5-3) {
  .edit-post-visual-editor {
    .editor-block-list__layout > .wp-block {
      padding: 0 14px;
    }
    .editor-post-title__block > div {
      margin-left: -2px;
      margin-right: -2px;
    }
  }
}