&.post-php {
  ul#adminmenu>li.current>a.current:after,
  ul#adminmenu a.wp-has-current-submenu:after {
    border-right-color: var(--formality_col2) !important;
    transition: border 0.15s linear;
  }
}
.edit-post-layout .components-notice-list {
  background: var(--formality_col2) !important;
  transition: background 0.15s linear;
}
.edit-post-fullscreen-mode-close {
  position: relative;
  overflow: visible;
  &:after {
    position: absolute;
    width: 100%;
    height: 1px;
    top: 100%;
    background: #23282e;
    content: "";
    left: 0;
    display: block;
  }
}
.block-editor-writing-flow__click-redirect {
  pointer-events: none;  
}