[class^="dashicons-formality"]:before,
[class*=" dashicons-formality"]:before {
  font-family: 'Formality' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dashicons-formality:before { content: "\e900"; }
.dashicons-formality-fo:before { content: "\e901"; }
