@font-face {
  font-family: 'formality';
  src:
    url('../fonts/formality.eot?gd1s2p#iefix') format('embedded-opentype'),
    url('../fonts/formality.ttf?gd1s2p') format('truetype'),
    url('../fonts/formality.woff?gd1s2p') format('woff'),
    url('../fonts/formality.svg?gd1s2p#formality') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="dashicons-formality"]:before,
[class*=" dashicons-formality"]:before {
  font-family: 'formality' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dashicons-formality:before { content: "\e900"; }
.dashicons-formality-fo:before { content: "\e901"; }