.wp-list-table {
  tr {
    th#formality_uid {
      width: 4em;
    }
    th#formality_preview {
      width: 3em;
    }
    th#formality_type,
    th#formality_results {
      width: 15%;
    }
    td.formality_preview {
      padding-right: 6px;
      a {
        display: block;
        font-family: "Hanken Grotesk";
        font-weight: bold;
        border: 1px solid #eee;
        width: 42px;
        height: 42px;
        border-radius: 3px;
        margin-left: auto;
        margin-right: 0;
        overflow: hidden;
        white-space: nowrap;
        line-height: 42px;
        color: var(--color1);
        //padding-left: 8px;
        font-size: 18px;
        box-sizing: border-box;
        background-size: cover;
        background-color: var(--color2);
        position: relative;
        z-index: 1;
        text-align: center;
        text-decoration: none;
        &:before,
        &:after {
          content: "";
          position: absolute;
          pointer-events: none;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }
        &:before {
          z-index: -1;
          background-color: var(--color2);
          opacity: var(--opacity);
        }
        &:after {
          content: "\f177";
          display: none;
          font-family: dashicons;
          z-index: 1;
          font-weight: normal;
          line-height: 38px;
        }
        &:hover {
          color: transparent;
          &:after {
            display: block;
            color: var(--color1);
          }
        }
      }
    }
    &.type-formality_result {
      td.formality_uid {
        span {
          display: inline-block;
          text-transform: uppercase;
          font-size: 0.9em;
          line-height: 1.6;
          padding: 1px 4px;
          background: rgba(0,0,0,0.1);
          //color: white;
          border-radius: 2px;
          vertical-align: middle;
          &:before {
            content: none;
          }
        }
      }
      &.status-unread {
        td.title {
          > strong {
            &:after {
              display: inline-block;
              content: "new";
              text-transform: uppercase;
              font-size: 0.7em;
              line-height: 1.6;
              padding: 1px 4px;
              background: #00a0d2;
              color: white;
              border-radius: 2px;
              vertical-align: middle;
              margin-left: 8px;
            }
          }
        }
      }
    }
  }
}

.author.column-author {
  > a:empty {
    color: inherit;
    &:before {
      content: "Guest";
    }
  }
}

#result_data {
  background: none;
  border: none;
  > .inside {
    padding: 0;
    margin: 0;
    > strong {
      font-size: 18px;
      margin-bottom: 10px;
      display: block;
      color: #2c3338;
    }
  }
  .postbox-header {
    display: none;
  }
  .wp-list-table {
    thead {
      th {
        font-weight: bold;
      }
    }
  }
}

.export-panel {
  h3 {
    margin: 0;
  }
}
