.edit-post-sidebar {
  .components-panel {
    .components-panel__body {
      &.edit-post-post-status {
        + .components-panel__body {
          display: none;
          &:last-child {
            display: block;
          }
        }
      }
      > .components-panel__body {
        margin: 16px -16px -16px;
        border-bottom: none;
      }
      > .components-base-control {
        margin: 0 0 1.5em;
        &:last-child {
          margin-bottom: .5em;
        }
        .components-color-palette__clear {
          display: none;
        }
      }
      .components-button-group {
        width: 100%;
        .components-button {
          display: inline-block;
          width: 50%;
          text-align: center;
          z-index: 0;
        }
      }
      .components-base-control__help {
        opacity: 0.7;
        margin-bottom: 0;
      }
      .formality_colorpicker {
        align-items: flex-start;
        > div {
          width: 50%;
          flex-grow: 0;
          flex-shrink: 0;
          margin-bottom: 0;
          .components-base-control__field {
            margin-bottom: 0;
          }
          .components-color-palette__item {
            box-shadow: none;
          }
        }
      }
      .formality_fontsize {
        .dashicons-editor-textcolor:nth-child(3) {
          transform: scale(1.5);
        }
        .components-base-control__field {
          margin-bottom: 9px; 
        }
      }
    }
  }
  .repeater-row-wrapper {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background: inherit;
    margin-top: 4px;
    user-select: none;
    align-items: center;
    &:hover {
      &:before {
        content: "";
        display: block;
        width: 17px;
        height: 17px;
        position: absolute;
        left: 0;
      }
      > .button-wrapper {
        .repeater-row-remove {
          display: block;
          &:hover {
            opacity: 1;
          }
        }
        .repeater-row-move {
          //&:hover { opacity: 1; }
        }
      }
    }
    .repeater-row-inner {
      flex: 1;
      display: flex;
    }
    .components-base-control {
      margin: 0 .5em 0 0;
      &:last-child {
        margin: 0 .2em 0 0;  
      }
    }
    > .button-wrapper {
      display: flex;
      justify-content: center;
      .repeater-row-move {
        display: inline-block;
        font-size: 1.9em;
        margin: 0 -10px 0 -2px;
        cursor: move;
        opacity: 0.6;
        &:before {
          display: inline-block;
          margin-bottom: 8px;
          content: "drag_indicator";
          font-family: 'Material Icons';
        }
      }
      .repeater-row-remove {
        display: none;
        position: absolute;
        left: 1px;
        background: red;
        border: none;
        font-weight: bolder;
        color: white;
        width: 14px;
        height: 14px;
        line-height: 14px;
        font-size: 14px;
        padding: 0;
        opacity: 0.4;
        box-shadow: none;
        border-radius: 50%;
      }
    }
  }
}

