.edit-post-sidebar {
  .components-panel {
    .components-panel__body {
      &.edit-post-post-status {
        + .components-panel__body {
          display: none;
          &:last-child {
            display: block;
          }
        }
      }
      > .components-panel__body {
        margin: 16px -16px -16px;
        border-bottom: none;
      }
      > .components-base-control {
        margin: 0 0 1.5em;
        &:last-child {
          margin-bottom: .5em;
        }
        .components-color-palette__clear {
          display: none;
        }
      }
      .components-button-group {
        width: 100%;
        .components-button {
          display: inline-block;
          width: 50%;
          text-align: center;
          z-index: 0;
        }
      }
      .components-base-control__help {
        opacity: 0.7;
        margin-bottom: 0;
      }
      .formality_colorpicker {
        align-items: flex-start;
        > div {
          width: 50%;
          flex-grow: 0;
          flex-shrink: 0;
          margin-bottom: 0;
          .components-base-control__field {
            margin-bottom: 0;
          }
          .components-color-palette__item {
            box-shadow: none;
          }
        }
      }
      .formality_fontsize {
        .dashicons-editor-textcolor:nth-child(3) {
          transform: scale(1.5);
        }
        .components-base-control__field {
          margin-bottom: 9px; 
        }
      }
    }
  }
}

