body.post-type-formality_form {
  .uf-fields-layout-grid.uf-boxed-fields {
    .uf-layout-row {
      &--step {
				~ .uf-layout-row:not(.uf-layout-row--step):not(.uf-layout-empty-row) {
					padding: 5px 5px 5px 80px;
				}
			}
			&.uf-layout-empty-row {
  			min-height: 74px;
        margin: 5px 0;
  			&:last-child {
    			.uf-layout-row-groups {
      		  display: none;	
    			}
    			&.uf-layout-row-waiting {
      			.uf-repeater-placeholder {
      			  color: #fff;
      			  border: 2px dashed #fff;
      			}
    			}
          .uf-repeater-placeholder {
      			background: none;
      			padding: 25px;
            font-size: 20px;
            font-weight: 500;
            color: #bbb;
          }
  			}
			}
			.uf-repeater-prototypes-column {
  			width: auto;
  			.uf-layout-element {
    			width: auto;
    			.uf-group-prototype {
      			width: auto;
      			min-width: 160px;
    			}
  			}
			}
      .uf-layout-element {
        .uf-group-controls {
          order: 99;
          margin-right: 19px; 
        }
        .uf-layout-group-number {
          width: 38px;
        }
        .uf-layout-group-indicator {
          width: 38px;  
        }
        .uf-layout-group-header {
          padding-left: 40px;
          .uf-group-title {
            em {
              font-style: normal;
              display: inline-block !important;
              vertical-align: middle;
              line-height: 1.2;
              border: 1px solid transparent;
              padding: 3px 6px;
              position: absolute;
              margin-top: 6px;
              left: 132px;
              width: 120px;
              cursor: text;
              font-size: 0;
              min-height: 16px;
              &:empty {
                border: 1px solid #ccc;
                &:after {
                  content: "Input name";
                  font-size: 14px;
                  color: #ccc;
                }
              }
              &:hover {
                border: 1px solid #ccc;
              }
              span {
                font-size: 14px;
                &.fake-input {
                  
                  
                }
              }
            }
          }
        }
        &[data-type="step"] {
          .uf-group-number {
            color: #AAAAAA;
          }
          .uf-layout-group-number {
            background: #AAAAAA;
            color: white;
          }
        }
        &[data-type="text"] {
          .uf-group-number {
            color: #ef5350;
          }
          .uf-layout-group-number {
            background: #ef5350;
            color: white;
          }
        }
        &[data-type="email"] {
          .uf-group-number {
            color: #EC407A;
          }
          .uf-layout-group-number {
            background: #EC407A;
            color: white;
          }
        }
        &[data-type="textarea"] {
          .uf-group-number {
            color: #7E57C2;
          }
          .uf-layout-group-number {
            background: #7E57C2;
            color: white;
          }
        }
      }
    }
    .uf-field-name-formality_type {
      margin-bottom: 12px;
      .uf-radio {
        display: flex;
        li {
          width: 50%;
          &:first-child {
            label:after {
              content: "Classic layout form";
            }
          }
    			&:last-child {
    				margin-right: 0;
    				label:after {
      				content: "Distraction free form";
    				}
    			}
          label {
            display: block;
            padding: 30px 10px;
            text-align: center;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 1em;
            position: relative;
            input {
              opacity: 0;
              position: absolute;
              pointer-events: none;
              &:checked + span {
                border: 2px solid #008ec2;
              }
            }
            &:after {
              display: block;
              font-weight: normal;
              text-transform: none;
              opacity: 0.6;
              //content: "";
            }
            span {
              display: block;
              pointer-events: none;
              position: absolute;
              box-sizing: border-box;
              width: 100%;
              height: 100%;
              left: 0;
              top: 0;
              border: 2px solid #ededed;
            }
				  }
        }
      }
    }
  }
  &.uf-overlay-mini {
    .uf-overlay-box {
      top: 50%;
      width: 800px;
      transform: translate(-50%,-50%);
      bottom: auto;
      .uf-overlay-body {
        padding: 50px 0;
        position: static;
        .uf-overlay-screen {
          position: static;
        }
      }
      .uf-overlay-screen {
        //overflow: visible;
      }
      .uf-field-name-required {
        position: absolute;
        z-index: -1;
        opacity: 0;
        pointer-events: none;
      }
      .uf-field-name-uid {
        position: absolute;
        z-index: -9;
        opacity: 0;
        pointer-events: none;
      }
    }
  }
}


#f87d900822 {
  > button,
  > h2 {
    display: none !important;
  }
  .uf-tab-wrapper.uf-tabs-layout-grid {
    background: white;
    padding-top: 7px;
    a.uf-tab {
      font-size: 14px;
      font-weight: 600;
    }
  }
}

.uf-field-name-formality_options {
  &:before {
    content: "";
    display: block;
    //background-color: #AC9AFE;
    background-image: url(../images/logo.svg);
    background-position: left 15px bottom 20px;
    background-repeat: no-repeat;
    background-size: auto 40px;
    margin: -10px -15px 15px -15px;
    height: 100px;
  }
}
