.wrap--formality {
  > h1:first-child {
    padding-bottom: 0;
    a {
      font-size: 1.25em;
      display: inline-block;
      vertical-align: middle;
      margin: 0 0.4em 0 0;
      border-right: 1px solid #ccd0d4;
      padding-right: 0.4em;
      pointer-events: none;
      text-decoration: none;
    }
  }
  .welcome-panel {
    padding-bottom: 10px;
    .button.button-hero {
      margin-top: 5px;
      margin-bottom: 15px;
      + p {
        margin-bottom: 5px;
      }
      + p + p {
        
      }
    }
  }
  + .wrap {
    > h1:first-child,
    > a:nth-child(2) {
      display: none;
    }
    > .subsubsub {
      margin-top: 0;
      margin-bottom: 8px;
    }
  }
}