.wrap--formality {
  > h1:first-child {
    padding-bottom: 0;
    a {
      font-size: 1.15em;
      display: inline-block;
      vertical-align: middle;
      margin: 0 0.4em 0 0;
      border-right: 1px solid #ccd0d4;
      padding-right: 0.4em;
      pointer-events: none;
      text-decoration: none;
    }
  }
  .welcome-panel {
    margin-top: 15px;
    padding-bottom: 10px;
    .button.button-hero {
      margin-top: 5px;
      margin-bottom: 15px;
      + p {
        margin-bottom: 5px;
      }
      + p + p {
        
      }
    }
    .badge {
      font-size: 0.6em;
      margin-left: 0.1em;
      margin-top: -0.4em;
      vertical-align: top;
      display: inline-block;
      border: 1px solid;
      border-radius: 2px;
      text-transform: uppercase;
      padding: 0 0.25em;
      font-weight: bold;
      color: #0073aa;
      &:before {
        content: "new";
      }
    }
  }
  a.formality-welcome-toggle {
    margin-top: -4px;
    float: right;
    margin-right: 8px;
    text-decoration: none;
    i {
      vertical-align: middle;
    }
    span:nth-child(1) {
      display: none;
    }
    &.close {
      display: none;
      span:nth-child(1) {
        display: inline;
      }
      span:nth-child(2) {
        display: none;
      }
    }
    &.loading {
      pointer-events: none;
    }
  }
  + .wrap {
    > h1:first-child,
    > a:nth-child(2) {
      display: none;
    }
    > .subsubsub {
      margin-top: 0;
      margin-bottom: 8px;
    }
  }
}