# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
.DS_Store
Thumbs.db
.cache-loader
dist
node_modules
npm-debug.log
yarn-error.log
package-lock.json
assets/config-local.json
