.wrap--formality {
  position: relative;
  margin-bottom: 16px;
  > h1:first-child {
    padding-bottom: 0;
    @media(max-width: 782px) {
      margin-bottom: 0.75em;
    }
    i:first-child {
      display: inline-block;
      position: relative;
      margin-right: 0.4em;
      height: 10px;
      width: 42px;
      &:before {
        position: absolute;
        border-radius: 3px;
        left: 0;
        top: -18px;
        content: "";
        background: #0A01B3;
        width: 42px;
        height: 39px;
        display: block;
        background-image: url(../images/logo.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% auto;
      }
    }
  }
  .welcome-old {
    margin-top: 18px;
    margin-bottom: 0;
    padding-bottom: 20px;
    .button.button-hero {
      margin-top: 5px;
      margin-bottom: 15px;
      + p {
        margin-bottom: 5px;
      }
    }
    .badge {
      font-size: 0.6em;
      margin-left: 0.1em;
      margin-top: -0.4em;
      vertical-align: top;
      display: inline-block;
      border: 1px solid;
      border-radius: 2px;
      text-transform: uppercase;
      padding: 0 0.25em;
      font-weight: bold;
      color: #0073aa;
      line-height: 1.5;
      &:before {
        content: "new";
      }
    }
    form.formality-newsletter {
      input[type=checkbox] {
        height: 0.8rem;
        width: 0.8rem;
        min-width: 0.8rem;
        vertical-align: middle;
        display: inline-block;
        margin: 0 6px 0 0;
        &:before {
          width: 1.1rem;
          height: 1.1rem;
        }
      }
      .formality-newsletter-result {
        padding-top: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        &:empty {
          display: none;
        }
      }
    }
    a.formality-welcome-toggle {
      color: inherit;
    }
  }
  .formality-header-version {
    margin-top: -4px;
    float: right;
    margin-right: 8px;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    display: inline-flex;
    align-items: center;
    @media(max-width: 782px) {
      display: none;
    }
    &:before {
      content: "v";
    }
    &:after {
      content: "";
      display: inline-block;
      width: 0.6em;
      height: 0.6em;
      vertical-align: baseline;
      margin-left: 0.3rem;
      border-radius: 0.3em;
      background: #fec343;
    }
    &.updated {
      &:after {
        background: #25e489;
      }
    }
    i {
      opacity: 0;
      display: block;
      top: 100%;
      padding: 6px 10px;
      background: rgba(0,0,0,0.6);
      color: white;
      pointer-events: none;
      position: absolute;
      font-style: normal;
      font-weight: normal;
      white-space: nowrap;
      right: 0;
      border-radius: 3px;
      margin-top: 3px;
    }
    &:hover {
      i {
        opacity: 1;
      }
    }
  }
  a.formality-welcome-toggle {
    margin-top: -4px;
    float: right;
    margin-right: 12px;
    @media(max-width: 782px) {
      display: none;
    }
    i {
      vertical-align: middle;
    }
    span:nth-child(1) {
      display: none;
    }
    &.close {
      display: none;
      span:nth-child(1) {
        display: inline;
      }
      span:nth-child(2) {
        display: none;
      }
    }
    &.loading {
      pointer-events: none;
    }
  }
  + .wrap {
    > h1:first-child,
    > a:nth-child(2) {
      display: none;
    }
    > .subsubsub {
      margin-top: 0;
      margin-bottom: 8px;
    }
  }
}

body.post-type-formality_form,
body.post-type-formality_result {
  #screen-meta-links {
    position: relative;
    z-index: 1;
    @media(max-width: 782px) {
      margin-bottom: 0;
    }
  }
  #screen-meta {
    position: relative;
  }
}

.welcome-old {
  position: relative;
  overflow: auto;
  margin: 16px 0;
  padding: 23px 10px 0;
  border: 1px solid #c3c4c7;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
  background: #fff;
  font-size: 13px;
  line-height:1.7;
  h2 {
    margin: 0;
    font-size: 21px;
    font-weight: 400;
    line-height:1.2;
  }
  h3 {
    margin: 1.33em 0 0;
    font-size: 16px
  }
  li {
    font-size:14px
  }
  p {
    color:#646970
  }
  li a {
    text-decoration:none
  }
  .about-description {
    font-size: 16px;
    margin:0
  }
  .welcome-panel-close {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 15px 10px 21px;
    font-size: 13px;
    line-height: 1.23076923;
    text-decoration:none;
    &:before {
      position: absolute;
      top: 8px;
      left: 0;
      transition:all .1s ease-in-out;
      background: 0 0;
      color: #787c82;
      content: "\f153";
      display: block;
      font: normal 16px/20px dashicons;
      speak: never;
      height: 20px;
      text-align: center;
      width: 20px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
  .button.button-hero {
    margin: 15px 13px 3px 0;
    padding: 12px 36px;
    height: auto;
    line-height: 1.4285714;
    white-space:normal
  }
  .welcome-panel-content {
    margin-left: 13px;
    max-width:1500px;
    min-height: 100px;
  }
  .welcome-panel-column-container {
    clear: both;
    position:relative
  }
  .welcome-panel-column {
    width: 32%;
    min-width: 200px;
    float:left;
    display: block;
    &:first-child {
      width: 36%;
      @media(max-width: 782px) {
        width: 100%;
      }
    }
    @media(max-width: 782px) {
      width: 100%;
    }
  }
  .welcome-panel-column p.hide-if-no-customize {
    margin-top:10px
  }
  .welcome-panel-column p {
    margin-top: 7px;
    color:#3c434a
  }
  .welcome-widgets-menus {
    line-height:1.14285714
  }
  .welcome-panel-column ul {
    margin:.8em 1em 1em 0
  }
  .welcome-panel-column li {
    line-height: 1.14285714;
    list-style-type: none;
    padding:0 0 8px;
  }
  .welcome-icon {
    background:0 0 !important;
  }
  .welcome-icon:before {
    color: #646970;
    font: normal 20px/1 dashicons;
    speak: never;
    display: inline-block;
    padding: 0 10px 0 0;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none !important;
    vertical-align:top;
  }
  .welcome-edit-page:before,
  .welcome-write-blog:before {
    content: "\f119";
    top:-3px;
  }
  .welcome-add-page:before {
    content: "\f132";
    top:-1px;
  }
  .welcome-setup-home:before {
    content: "\f102";
    top:-1px;
  }
  .welcome-view-site:before {
    content: "\f115";
    top:-2px;
  }
  .welcome-widgets-menus:before {
    content: "\f116";
    top:-2px;
  }
  .welcome-widgets:before {
    content: "\f538";
    top:-2px;
  }
  .welcome-menus:before {
    content: "\f163";
    top:-2px;
  }
  .welcome-comments:before {
    content: "\f117";
    top:-1px;
  }
  .welcome-learn-more:before {
    content: "\f118";
    top:-1px;
  }
}
