.edit-post-sidebar {
  > .components-panel {
    .components-panel__body {
      .components-base-control__field {
        span.components-base-control__label:first-child {
          display: inline-block;
          margin-bottom: 5px;
        }
      }
      .components-panel__row--copyurl {
        margin-top: -8px;
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0;
        }
        > .components-base-control {
          flex-grow: 1;
          margin-bottom: 0;
        }
        .components-base-control__field {
          margin-bottom: 0;
        }
        > span {
          margin-left: 10px;
          flex-grow: 0;
          flex-shrink: 0;
        }
      }
      .formality_panelrow {
        justify-content: flex-start;
        &--hidden {
          display: none !important;
          + p.components-base-control__help {
            display: none !important;
          }
        }
        &--half {
          > * {
            width: 50%;
          }
        }
        > * {
          margin: 0 .3em 0 0;
          &:last-child {
            margin: 0;
          }
        }
        .components-base-control {
          margin-bottom: 8px;
        }
        + p.components-base-control__help {
          margin: -12px 0 1.5em;
        }
        label {
          max-width: 100%;
          margin-right: 8px;
        }
        select {
          width: 100%;
          -webkit-appearance:none;
          //background: none;
          padding: 6px 8px;
          line-height: 16px;
          height: 30px;
          white-space: nowrap;
        }
      }
      .formality_colorpicker {
        align-items: flex-start;
        &.no-margin {
          margin-top: 7px;
        }
        > div {
          width: 50%;
          flex-grow: 0;
          flex-shrink: 0;
          margin-bottom: 0;
          .components-base-control__field {
            margin-bottom: 0;
          }
          .components-color-palette__item {
            box-shadow: none !important;
          }
          .components-circular-option-picker__option-wrapper {
            display: block;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-bottom: 4px;
            margin-right: 8px;
          }
          &:only-child {
            width: 100%;
            display: flex;
            align-items: flex-end;
            .components-base-control__field {
              flex-shrink: 0;
            }
            > p {
              padding-bottom: 6px;
            }
          }
        }
      }
      .formality_fontsize {
        display: block;
        margin-top: 16px;
        .dashicons-editor-textcolor:nth-child(3) {
          transform: scale(1.5);
        }
        .components-base-control__field {
          margin-bottom: 9px;
        }
      }
      .formality_optionsgrid {
        .components-base-control {
          width: 100%;
        }
      }
      .formality_radio-templates {
        span.counter {
          display: inline-block;
          margin: -2px 0 -2px 10px;
          font-size: 10px;
          line-height: 1;
          background: #f0f0f0;
          padding: 5px 6px;
        }
        .components-panel__body-title:hover span.counter {
          background: white;
        }
        div.terms {
          margin-top: 5px;
          .components-spinner {
            margin-left: 0;
          }
        }
        .incomplete {
          margin-top: 12px;
        }
        button.is-primary {
          margin-bottom: 25px;
          + div.terms {
            margin-top: -12px;
          }
        }
        .components-base-control__field {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          .components-base-control__label {
            width: 100%;
            margin-bottom: 20px
          }
          .components-radio-control__option {
            width: 48%;
            flex-grow: 0;
            flex-shrink: 0;
            margin-bottom: 8px;
            input {
              position: absolute;
              opacity: 0;
              &:checked + label {
                &:before {
                  border: 2px solid #11a0d2;
                  left: -4px;
                  top: -4px;
                  width: calc(100% + 4px);
                  height: calc(100% + 4px);
                }
              }
            }
            label {
              display: block;
              padding: 8px 10px;
              font-weight: bold;
              white-space: nowrap;
              position: relative;
              border: 2px solid white;
              border-radius: 3px;
              background-size: cover;
              z-index: 0;
              padding-bottom: 2em;
              &:before {
                content: "";
                pointer-events: none;
                position: absolute;
                width: 100%;
                height: 100%;
                top: -1px;
                left: -1px;
                box-sizing: content-box;
                border: 1px solid rgba(0,0,0,.1);
                border-radius: 3px;
              }
              i {
                z-index: -1;
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                border-radius: 3px;
                top: 0;
                left: 0;
              }
            }
          }
        }
        .components-toggle-control {
          .components-base-control__field {
            flex-wrap: nowrap;
            margin-bottom: 20px;
          }
        }
      }
      .components-radio-control {
        &--columns {
          .components-base-control__field {
            margin-bottom: 0;
            .components-base-control__label {
              display: block;
            }
            .components-radio-control__option {
              width: 50%;
              display: inline-block;
            }
          }
        }
      }
      .components-button-group--wide {
        width: 100%;
        button {
          display: inline-block;
          width: 50%;
          text-align: center;
          height: 30px;
          &.is-primary {
            box-shadow: none;
          }
        }
      }
    }
  }
  .repeater-rows {
    margin-bottom: 8px;
    &.repeater--rules {
      .repeater-row-wrapper {
        &:first-child {
          > .repeater-row-inner > .components-base-control:nth-child(1) select {
            pointer-events: none;
            opacity: 0.5
          }
        }
        > .repeater-row-inner {
          > .components-base-control {
            &:nth-child(1) {
              width: 16%;
              flex-grow: 0;
              flex-shrink: 0;
            }
            &:nth-child(2) {
              width: 36%;
              flex-grow: 0;
              flex-shrink: 0;
            }
            &:nth-child(3) {
              flex-grow: 1;
              select {
                text-align: center;
              }
            }
            &:nth-child(4) {
              width: 35%;
              flex-grow: 0;
              flex-shrink: 0;
            }
            select {
              width: 100%;
              -webkit-appearance:none;
              background: none;
              padding: 6px 4px;
              line-height: 16px;
              height: 30px;
              white-space: nowrap;
              + .components-input-control__suffix {
                display: none;
              }
            }
          }
        }
        > .button-wrapper {
          height: 21px;
          width: 0;
          .repeater-row-move {
            display: none;
          }
        }
      }
    }
  }
  .repeater-row-add {
    margin-left: 1px;
  }
  .repeater-row-wrapper {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background: inherit;
    margin-top: 4px;
    user-select: none;
    align-items: center;
    &:hover {
      &:before {
        content: "";
        display: block;
        width: 17px;
        height: 17px;
        position: absolute;
        left: 0;
      }
      > .button-wrapper {
        .repeater-row-remove {
          display: block;
          &:hover {
            opacity: 1;
          }
        }
        .repeater-row-move {
          //&:hover { opacity: 1; }
        }
      }
    }
    .repeater-row-inner {
      flex: 1;
      display: flex;
      flex-wrap: nowrap;
    }
    .components-base-control {
      margin: 0 .3em 0 0;
      flex-grow: 1;
      &--hide {
        display: none;
      }
      &:last-child {
        margin: 0 .2em 0 0;
      }
      .components-base-control__field {
        margin-bottom: 2px;
      }
    }
    > .button-wrapper {
      display: flex;
      justify-content: center;
      .repeater-row-move {
        display: inline-block;
        font-size: 1.9em;
        margin: 0 -10px 0 -2px;
        cursor: move;
        opacity: 0.6;
        width: 1em;
        overflow: hidden;
        &:before {
          display: inline-block;
          margin-bottom: 2px;
          @include icon(drag_indicator);
        }
      }
      .repeater-row-remove {
        display: none;
        position: absolute;
        left: 1px;
        margin-top: 2px;
        background: red;
        border: none;
        font-weight: bolder;
        color: white;
        width: 14px;
        height: 14px;
        line-height: 14px;
        font-size: 14px;
        padding: 0;
        opacity: 0.4;
        box-shadow: none;
        border-radius: 50%;
      }
    }
  }
}
