& {
  counter-reset: formality-step;
  .fo__section__header {
    width: 100%;
    padding: 0;
    margin-bottom: 1.25em;
    counter-increment: formality-step;
    &:before {
      content: counter(formality-step);
      font-size: 1em;
      border-radius: 50%;
      line-height: 1.4;
      width: 1.5em;
      height: 1.5em;
      font-weight: bold;
      text-align: center;
      display: inline-block;
      vertical-align: middle;
      margin-right: 0.5em;
      border: 0.1em solid var(--formality_col1);
    }
    h4,
    p {
      font-family: "HK Grotesk", sans-serif;
      margin: 0;
      padding: 0;
      line-height: 1.5;
    }
    h4 {
      display: inline-block;
      vertical-align: middle;
    }
  }
}
