&.formality--dragging {
  .formality__body {
    .formality__main {
      .formality__section {
        .formality__field {
          opacity: 0.25;
          pointer-events: none;
          &--upload {
            opacity: 1;
            pointer-events: all;
            .formality__input {
              border-color: transparent;
              &:before,
              &:after {
                content: "";
                position: absolute;
                top: calc(var(--formality_border) * -1);
                left: calc(var(--formality_border) * -1);
                right: calc(var(--formality_border) * -1);
                bottom: calc(var(--formality_border) * -1);
                z-index: 0;
                pointer-events: none;
              }
              &:before {
                background: var(--formality_col1);
                opacity: 0;
              }
              &:after {
                background: linear-gradient(90deg, var(--formality_col1) 50%, transparent 50%),
                            linear-gradient(90deg, var(--formality_col1) 50%, transparent 50%),
                            linear-gradient(0deg, var(--formality_col1) 50%, transparent 50%),
                            linear-gradient(0deg, var(--formality_col1) 50%, transparent 50%);
                background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
                background-size: 10px 2px, 10px 2px, 2px 10px, 2px 10px;
                background-position: 0% 0%, 100% 100%, 0% 100%, 100% 0px;
                animation: dashedborder 6s linear infinite;
              }
              input {
                width: 100%;
                height: 100%;
                opacity: 0;
                overflow: hidden;
                position: absolute;
                z-index: 3;
              }
            }
            &.formality__field--dragging {
              .formality__input {
                &:before {
                  opacity: 0.1;
                }
                &:after {
                  animation: dashedborder 10s linear infinite;
                }
              }
            }
          }
        }
      }
    }
  }
}

@keyframes dashedborder {
  to {
      background-position: 100% 0%, 0% 100%, 0% -300%, 100% 400%;
  }
}
