&.fo--fill {
  .fo__body {
    .fo__main {
      .fo__section {
        .fo__field {
          .fo__input {
            border: none;
            border-radius: 0;
            &:after {
              content: "";
              position: absolute;
              background: var(--formality_col1);
              border-radius: var(--formality_radius);
              width: 100%;
              height: 100%;
              opacity: 0.2;
              left: 0;
              top: 0;
              transition: border-radius 0.18s 0.02s ease-in-out;
              z-index: -1;
            }
            input,
            textarea,
            select {
              padding: 0.8em;
            }
            &__status {
              left: 0;
              right: 0;
            }
          }
          &--error {
            .fo__input {
              &__status {
              }
              &__errors {
              }
            }
          }
          &--focus {
            .fo__input {
              &:after {
                transition: border-radius 0.05s ease-in-out;
                border-radius: var(--formality_radius) var(--formality_radius) 0 0;
              }
              &__status {
              }
            }
          }
          &--select {
            .fo__input {
              &:before {
                padding: 0.8em 0.7em;
              }
            }
          }
          &--multiple {
            .fo__input {
              .fo__label--radio,
              .fo__label--checkbox {
                i {
                  &:after {
                    background: var(--formality_col1);
                    border-color: transparent;
                    opacity: 0.2;
                  }
                }
              }
            }
          }
          &--number {
            .fo__input {
              .fo__input__spinner {
                padding: 0.8em;
              }
            }
          }
          &--switch {
            .fo__input {
              .fo__label {
                i {
                  &:after {
                    background: var(--formality_col1);
                    border-color: transparent;
                    opacity: 0.2;
                  }
                }
              }
              input:checked {
                + .fo__label {
                  i {
                    &:after {
                      opacity: 1;
                    }
                  }
                }
              }
            }
          }
          &--rating {
            .fo__input {
              &:after {
                display: none;
              }
              .fo__label svg {
                .border {
                  opacity: 0.2;
                  stroke: none;
                  fill: var(--formality_col1);
                }
              }
            }
          }
          .fo__input__grid--buttons {
            .fo__label {
              &:before {
                background: var(--formality_col1);
                opacity: 0.2;
                border-color: transparent;
              }
            }
          }
        }
      }
    }
  }
  .fo__nav {
    &:before {
      background: var(--formality_col2);
      opacity: 0.5;
    }
  }
  &.fo--dragging {
    .fo__body {
      .fo__main {
        .fo__section {
          .fo__field {
            &--upload {
              .fo__input {
                &:before,
                &:after {
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
