&.formality--line {
  .formality__body {
    .formality__main {
      .formality__section {
        .formality__field {
          margin-bottom: 2.5em;
          .formality__input {
            border-top: none;
            border-right: none;
            border-left: none;
            input,
            textarea,
            select {
              padding-top: 0.5em;
              padding-left: 0;
              padding-right: 0;
            }
            &__status {
              left: 0;
              right: 0;
              &[data-placeholder]:after {
                background: none;
                color: var(--formality_col1);
                padding: 0.9em 0;
                border: none;
                opacity: 0.75;
              }
            }
          }
          &--select {
            .formality__input {
              &:before {
                margin-right: -0.6em;
              }
            }
            &.formality__field--focus {
              .formality__input {
                .formality__select__list {
                  border-top-style: solid;
                  border-top-width: var(--formality_border);
                  border-top-color: transparent;
                }
              }
              &.formality__field--open {
                .formality__input {
                  .formality__select__list {
                    border-top-color: var(--formality_col1);
                  }
                }
              }
            }
          }
          &--textarea {
            .formality__textarea__counter {
              padding-left: 0;
              padding-right: 0;
            }
          }
          &--focus {
            &.formality__field--error {
              .formality__input {
                &__status {
                  &[data-placeholder]:after {
                    animation: pulse 3s infinite alternate-reverse;
                  }
                }
              }
            }
          }
          &--number {
            .formality__input {
              .formality__input__spinner {
                margin-right: -0.6em;
              }
            }
          }
          &--upload {
            .formality__input {
              .formality__upload {
                padding: 0.7em 0;
              }
            }
          }
          &--disabled {
            margin-bottom: 0;
          }
          &--error {
            &.formality__field--select {
              &.formality__field--focus {
                .formality__input {
                  .formality__select__list {
                    border-top-color: var(--formality_col3);
                  }
                }
              }
            }
            .formality__input {
              &__status {
                &[data-placeholder]:after {
                  border-color: transparent;
                  background: transparent;
                  color: var(--formality_col3);
                }
              }
              &__errors {
                border: none;
                background: transparent;
                color: var(--formality_col3);
                padding: 0.9em 0;
                li {
                  color: var(--formality_col3);
                }
              }
            }
          }
        }
      }
    }
  }
  &.formality--dragging {
    .formality__body {
      .formality__main {
        .formality__section {
          .formality__field {
            &--upload {
              .formality__input {
                &:before,
                &:after {
                  left: calc(var(--formality_fontsize) * -1);
                  right: calc(var(--formality_fontsize) * -1);
                }
              }
            }
          }
        }
      }
    }
  }
}
