&.fo--line {
  .fo__body {
    .fo__main {
      .fo__section {
        .fo__field {
          margin-bottom: 2.5em;
          .fo__input {
            border-top: none;
            border-right: none;
            border-left: none;
            input,
            textarea,
            select {
              padding-top: 0.5em;
              padding-left: 0;
              padding-right: 0;
            }
            &__status {
              left: 0;
              right: 0;
              &[data-placeholder]:after {
                background: none;
                color: var(--formality_col1);
                padding: 0.9em 0;
                border: none;
                opacity: 0.75;
              }
            }
          }
          &--select {
            .fo__input {
              &:before {
                margin-right: -0.6em;
              }
            }
            &.fo__field--focus {
              .fo__input {
                .fo__select__list {
                  border-top-style: solid;
                  border-top-width: var(--formality_border);
                  border-top-color: transparent;
                }
              }
              &.fo__field--open {
                .fo__input {
                  .fo__select__list {
                    border-top-color: var(--formality_col1);
                  }
                }
              }
            }
          }
          &--textarea {
            .fo__textarea__counter {
              padding-left: 0;
              padding-right: 0;
            }
          }
          &--focus {
            &.fo__field--error {
              .fo__input {
                &__status {
                  &[data-placeholder]:after {
                    animation: pulse 3s infinite alternate-reverse;
                  }
                }
              }
            }
          }
          &--number {
            .fo__input {
              .fo__input__spinner {
                margin-right: -0.6em;
              }
            }
          }
          &--upload {
            .fo__input {
              .fo__upload {
                padding: 0.7em 0 1em;
                .fo__upload__toggle p {
                  margin-bottom: 1rem
                }
              }
            }
          }
          &--disabled {
            margin-bottom: 0;
          }
          &--error {
            &.fo__field--select {
              &.fo__field--focus {
                .fo__input {
                  .fo__select__list {
                    border-top-color: var(--formality_col3);
                  }
                }
              }
            }
            .fo__input {
              &__status {
                &[data-placeholder]:after {
                  border-color: transparent;
                  background: transparent;
                  color: var(--formality_col3);
                }
              }
              &__errors {
                border: none;
                background: transparent;
                color: var(--formality_col3);
                padding: 0.9em 0;
                li {
                  color: var(--formality_col3);
                }
              }
            }
          }
        }
      }
    }
  }
  &.fo--dragging {
    .fo__body {
      .fo__main {
        .fo__section {
          .fo__field {
            &--upload {
              .fo__input {
                &:before,
                &:after {
                  left: calc(var(--formality_fontsize) * -1);
                  right: calc(var(--formality_fontsize) * -1);
                }
              }
            }
          }
        }
      }
    }
  }
}
