&.fo--sended {
  .fo__body {
    pointer-events: none;
    .fo__main {
      .fo__section__header {
        //opacity: 0.15;
        p {
          opacity: 1;
        }
      }
      .fo__section,
      .fo__result {
        &--active {
          pointer-events: none;
        }
      }
    }
    .fo__nav {
      .fo__nav__buttons {
        opacity: 0;
      }
      &__list {
        .fo__nav__section {
          pointer-events: none;
          &.fo__nav__section--active {
            .fo__nav__legend {
              display: none;
            }
            a {
              opacity: 1;
              &:before {
                background: none;
                color: var(--formality_col1);
              }
              p {
                opacity: 1;
              }
            }
          }
          a {
            opacity: 1;
            &:before {
              @include icon(check);
            }
          }
        }
        .fo__nav__anchor {
          > a {
            &:before {
              @include icon(check);
            }
            + ul {
              display: none;
            }
            &.active {
              opacity: 0.3;
              &:before {
                background: none;
                color: var(--formality_col1);
              }
              + ul {
                display: none !important;
              }
            }
          }
        }
      }
    }
  }
  .fo__footer {
    .fo__btn {
      pointer-events: none;
      &--submit {
        &:after {
          //transition: all 0.15s linear;
          @include icon(check, false);
          background: var(--formality_col2);
          color: var(--formality_col1);
        }
      }
    }
  }
}

&.fo--error {
  .fo__body {
    .fo__main {
      .fo__section,
      .fo__result {
      }
    }
  }
  .fo__footer {
    .fo__btn {
      &--submit {
        &:after {
          //
        }
      }
    }
  }
}
