@import "admin/list";
@import "admin/icons";
@import "admin/menu";

@import "public/common/variables";
@import "public/common/typography";
@import "public/common/animation";

//single form
body.post-type-formality_form {
  @import "admin/editor";
  @import "admin/sidebar";
  @import "admin/fixes";
  .edit-post-visual-editor {
    .editor-block-list__layout {
    	@import "public/components/buttons";
    	@import "public/components/fields";
    	@import "public/components/messages";
    	@import "admin/step";
    }
  }
}

//formality widget
form.formality {
	@import "admin/widget";
	@import "public/common/global";
	@import "public/components/buttons";
	@import "public/components/fields";
	@import "public/components/messages";
	@import "public/layouts/header";
	@import "public/layouts/body";
  @import "public/modifiers/conversational";
}

.formality_widget_block__edit {
  position: absolute;
  width: 100%;
  text-align: right;
  z-index: 2;
  a {
    display: inline-block;
    padding: 0 2px 9px 15px;
    background: white;
  }
}

.edit-post-layout {
  .edit-post-sidebar {
    .components-button-group {
      &--wide {
        width: 100%;
        button {
          display: inline-block;
          width: 50%;
          text-align: center;
        }
      }
    }
  }
}