.formality__footer {
	.formality__actions {
		display: flex;
		justify-content: space-between;
		.formality__btn--next,
		.formality__btn--submit {
  		margin-left: auto;
		}
	}
	.formality__result {
		padding-top: 2em;
		.formality__result__success,
		.formality__result__error {
			display: none;
			&--active {
				display: block;
			}
		}
	}
}