.formality__footer {
	.formality__actions {
		display: flex;
		justify-content: space-between;
		.formality__btn--next,
		.formality__btn--submit {
  		margin-left: auto;
		}
	}
	.formality__result {
		padding-top: 2em;
		.formality__result__success,
		.formality__result__error {
			display: none;
			&--active {
				display: block;
			}
		}
	}
	.formality__credits {
  	font-size: 0.7em;
  	opacity: 0.5;
  	a {
    	&:hover {
      	border-bottom-width: 1px;
      	border-bottom-style: solid;
      }
  	}
  	svg {
    	display: inline-block;
    	margin-left: 0.1em;
    	height: 1em;
    	vertical-align: middle;
    	width: auto;
  	}
	}
}
