.fo__header {
  margin-bottom: 1em;
  .fo__logo {
    display: none;
    margin: 1em 0;
    &:empty {
      margin: 1.5em 0;
      @include breakpoint(tablet) {
        margin: .5em 0;
      }
    }
    img {
      width: auto;
      height: var(--formality_logo_height);
      margin-bottom: 1em;
    }
    svg {
      width: 10em;
      height: auto;
      margin-bottom: 1em;
      g {
        fill: var(--formality_col1);
      }
    }
  }
  .fo__title {
    font-size: 2.6em;
    font-weight: bold;
    line-height: 1.1;
    padding: 0.13em 0 0.16em;
    margin: 0;
    @include breakpoint(mobile_xl) {
      font-size: 2.4em;
    }
    @include breakpoint(mobile) {
      font-size: 2.2em;
    }
    &:before,
    &:after {
      display: none;
    }
  }
}
