.formality__header {
	margin-bottom: 1em;
	.formality__logo {
		display: none;
		margin: 1em 0;
		&:empty {
  		margin: 1.5em 0;
		}
		img {
  		width: auto;
  		height: var(--formality_logo_height);
  		margin-bottom: 1em;
		}
		svg {
			width: 10em;
			height: auto;
			margin-bottom: 1em;
			g {
  			fill: var(--formality_col1);
			}
		}
	}
	.formality__title {
		font-size: 2.6em;
		font-weight: bold;
		padding: 0;
		margin: 0;
		&:before,
		&:after {
  		display: none;
		}
	}
}
