.formality__header {
	margin-bottom: 1em;
	.formality__logo {
		display: none;
		margin: 20px 0 50px;
		svg {
			width: 200px;
			height: auto;
			display: block;
			g {
  			fill: var(--formality_col1);
			}
		}
	}
	.formality__title {
		font-size: 1.5em;
		font-weight: bold;
		padding: 0;
		margin: 0;
	}
}
