.formality__nav {
	order: 0;
	&__list {
		list-style: none;
		counter-reset: formality-nav;
		position: relative;
		&:before {
			content: "";
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			position: absolute;
			z-index: 0;
			background: var(--formality_col1);
			opacity: 0.1;
		}
		.formality__nav__section {
			position: relative;
			display: inline-block;
			vertical-align: top;
			opacity: 0.3;
			&.formality__nav__section--active {
				opacity: 1;
				.formality__nav__legend {
					opacity: 1;
					transform: translateY(0);
				}
			}
			a {
				display: flex;
				align-items: center;
				padding: 0.8em 3em 0.8em 1em;
				&:before {
					counter-increment: formality-nav;
					content: counter(formality-nav);
					display: inline-block;
					vertical-align: top;
					font-weight: bold;
					border-radius: 50%;
					width: 1.5em;
					height: 1.5em;
					line-height: 1.5em;
					text-align: center;
					background: var(--formality_col1);
					color: var(--formality_col2);
					margin-right: 0.5em;
				}
				h4, p {
					margin: 0;
					padding: 0;
					line-height: 1.1;
				}
				h4 {
					font-size: 1em;
				}
				p {
					opacity: 0.5;
					font-size: 0.8em;
				}
			}
			.formality__nav__legend {
				opacity: 0;
				transform: translateY(200%);
				transition: all 0.1s ease-in-out;
				display: flex;
				margin: 0;
				list-style: none;
				li {
					width: 100%;
					display: block;
					background: var(--formality_col1);
					height: 3px;
					margin-right: 3px;
					opacity: 0.3;
					&.active {
						opacity: 1;
					}
				}
			}
		}
	}
}