.formality__nav {
	order: 0;
	margin-bottom: 1.5em;
	position: sticky;
	top: 0;
	width: 100%;
	background: var(--formality_col2);
	z-index: 10;
	overflow: hidden;
  &:before {
		content: "";
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		position: absolute;
		z-index: 0;
		background: var(--formality_col1);
		opacity: 0.1;
		pointer-events: none;
	}
	@include breakpoint(tablet) {
  	width: 100vw;
  	margin-left: calc((100vw - 100%) / -2)
	}
	@include breakpoint(mobile_xl) {
  	margin-bottom: 1em;
	}
	&__list {
		list-style: none;
		counter-reset: formality-nav;
		position: relative;
		margin: 0;
		overflow: scroll;
		overflow-y: hidden;
		white-space: nowrap;
		padding: 0;
		padding-top: 3px;
		scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      background: transparent;
      width: 0;
      height: 0;
    }
		.formality__nav__section {
			position: relative;
			display: inline-block;
			vertical-align: top;
			overflow: hidden;
			pointer-events: none;
			&.formality__nav__section--validated {
				pointer-events: all;
				a {
					opacity: 1;
					&:before {
						font-family: 'Material Icons';
						content: "done";
					}
				}
				+ .formality__nav__section {
					pointer-events: all;
				}
			}
			&.formality__nav__section--active {
				.formality__nav__legend {
					pointer-events: all;
					&:before {
						transform: translateY(0%);
					}
					li {
						transform: translateY(0);
					}
				}
				a {
					opacity: 1;
					&:before {
						background: var(--formality_col1);
						color: var(--formality_col2);
					}
					p {
						opacity: 0.6;
					}
				}
			}
			a {
				display: flex;
				align-items: center;
				padding: 0.8em 3em 0.8em 1em;
				opacity: 0.3;
				text-decoration: none;
				&:hover {
					opacity: 1;
				}
				&:before {
					counter-increment: formality-nav;
					content: counter(formality-nav);
					display: inline-block;
					vertical-align: top;
					font-weight: bold;
					border-radius: 50%;
					box-sizing: content-box;
					width: 1.3em;
					height: 1.3em;
					line-height: 1.3em;
					text-align: center;
					margin-right: 0.5em;
					flex-shrink: 0;
					border: 2px solid var(--formality_col1);
				}
				h4, p {
					margin: 0;
					padding: 0;
					line-height: 1.1;
				}
				h4 {
					font-size: 1em;
					font-weight: bold;
				}
				p {
					font-size: 0.8em;
				}
			}
			.formality__nav__legend {
				display: flex;
				margin: 0;
				list-style: none;
				position: relative;
				overflow: hidden;
				height: 2px;
				padding: 0;
				&:before {
					content: "";
					display: block;
					width: 100%;
					height: 100%;
					bottom: 0%;
					left: 0;
					position: absolute;
					transition: all 0.1s ease-in-out;
					transform: translateY(100%);
				}
				li {
					width: 100%;
					display: block;
					background: var(--formality_col1);
					height: 100%;
					margin-right: 2px;
					opacity: 0.3;
					cursor: pointer;
					position: relative;
					z-index: 1;
					transform: translateY(100%);
					transition: all 0.1s ease-in-out;
					&:last-child {
						margin-right: 0;
					}
					&.error {
						//background: red;
						//opacity: 1;
					}
					&:hover {
						opacity: 0.6;
					}
					&.active {
						opacity: 1;
					}
				}
			}
		}
		.formality__nav__anchor {
			margin-bottom: 0;
			display: inline-block;
			vertical-align: top;
			padding: 0.8em 0 0.8em 1em;
			&:first-child,
			&:empty {
				display: none;
			}
			> a {
  			font-weight: bold;
				&:before {
					counter-increment: formality-anchor;
					content: counter(formality-anchor);
					display: inline-block;
					vertical-align: top;
					font-weight: bold;
					border-radius: 50%;
					box-sizing: content-box;
					width: 1.3em;
					height: 1.3em;
					line-height: 1.3em;
					text-align: center;
					margin-right: 0.5em;
					flex-shrink: 0;
					border: 2px solid var(--formality_col1);
				}
				&:hover {
  				opacity: 1;
				}
				&.active {
					opacity: 1;
					&:before {
						background: var(--formality_col1);
						color: var(--formality_col2);
					}
					+ ul {
						display: inline-block;
						li a {
							&:hover {
  							opacity: 1;
							}
							&.active {
								opacity: 1;
								pointer-events: none;
								&:before {
									opacity: 0.3;
									transform: translateX(0%);
								}
							}
						}
					}
				}
			}
			a {
				opacity: 0.3;
				vertical-align: middle;
				display: inline-block;
				align-items: center;
				&.active {
					opacity: 1;
					&:before {
						opacity: 1;
					}
				}
			}
			ul {
  			font-size: 0.8em;
  			vertical-align: middle;
				display: inline-block;
				list-style: none;
				margin: 0;
				padding: 0;
				counter-reset: formality-field;
				line-height: 1;
				margin-left: 1em;
				&:empty {
					display: none;
				}
				li {
					padding: 0;
					display: inline-block;
					margin-right: 1em;
					&:last-child {
  					margin-right: 0;
					}
					a {
						display: flex;
						line-height: 1;
						&:before {
							counter-increment: formality-field;
              content: counter(formality-field, lower-alpha);
							display: none;
							vertical-align: middle;
							border-radius: 50%;
							box-sizing: content-box;
							width: 1.3em;
							line-height: 1;
							text-align: center;
							margin-right: 0.5em;
							flex-shrink: 0;
              padding: 0 2px;
							opacity: 0;
							transform: translateX(25%);
							transition: all 0.18s ease-in-out;
						}
					}
				}
			}
		}
	}
	.formality__nav__buttons {
		display: none;
		margin-top: 1.5em;
		margin-bottom: 1.5em;
		bottom: 0;
		button {
      padding: 0;
			background: none;
			border: none;
			&.formality__btn--next {
  			&:after {
    			content: "expand_more";
    			
  			}
			}
			&.formality__btn--prev {
  			&:before {
    			content: "expand_less";
    			
  			}
			}
			&:before,
			&:after {
  			font-weight: normal;
  			margin: 0;
  			border: none;
  			color: var(--formality_col1);
  			font-size: 1.2em;
			}
		}
	}
}