body.body-formality--side {
  padding: 0 7vw;
  background-color: var(--formality_bg);
  min-height: 100vh;
  margin: 0;
  @include breakpoint(tablet, true) {
    padding: 0;
  }
  .fo__bg {
    will-change: transform;
    width: 100%;
    z-index: 1;
    pointer-events: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: var(--formality_bg_url);
    background-position: var(--formality_bg_position);
    transform: translateZ(0);
    height: 35vh;
    position: absolute;
    top: 0;
    left: 0;
    @include breakpoint(tablet, true) {
      right: 0;
      bottom: 0;
      left: auto;
      position: fixed;
      width: 35%;
      flex-shrink: 0;
      flex-grow: 0;
      height: 100vh;
    }
    @include breakpoint(desktop, true) {
      width: 40%;
    }
  }
  form.fo {
    max-width: none;
    position: relative;
    z-index: 2;
    margin-top: 35vh;
    @include breakpoint(tablet, true) {
      margin-top: 0;
    }
    &.fo--first-loading {
      &:after {
        content: "";
        @include breakpoint(tablet) {
          position: fixed;
        }
      }
      .fo__wrap {
        opacity: 0;
      }
    }
    &.fo--conversational {
      .fo__body {
        font-size: 1em;
        @include breakpoint(tablet, true) {
          font-size: 1.1em;
        }
        .fo__main {
          max-height: none;
          overflow: visible;
          mask-image: none;
          padding-top: 0;
        }
        .fo__nav {
          margin-bottom: 1.5em;
          &__list {
            backdrop-filter: blur(15px);
          }
        }
      }
      .fo__footer {
        font-size: 1em;
      }
    }
    .fo__header {
      .fo__logo {
        display: block;
      }
    }
    .fo__nav__list {
      .fo__nav__section a {
        padding: 0.8em 7vw;
      }
      .fo__nav__anchor {
        padding: 0.8em 0 0.8em 7vw;
        &:last-child {
          padding-right: 7vw;
        }
      }
    }
    @include breakpoint(tablet, true) {
      margin: 0;
      width: 65%;
      padding-left: 7vw;
      padding-right: 7vw;
      flex-grow: 0;
      flex-shrink: 0;
      .fo__wrap {
        max-width: calc(var(--formality_fontsize) * 32);
        margin: 0 0 0 auto;
      }
      .fo__body {
        .fo__nav {
          width: 65vw;
          margin-left: calc((58vw - 100%) * -1);
        }
      }
    }
    @include breakpoint(desktop, true) {
      width: 60%;
      .fo__body {
        .fo__nav {
          width: calc(100% + 7vw + 3em);
          margin-left: -3em;
          border-radius: 0 0 0 1.5em;
          .fo__nav__list {
            .fo__nav__section a {
              padding-left: 3em;
            }
            .fo__nav__anchor {
              padding: 0.8em 0 0.8em 3em;
              &:last-child {
                padding-right: 3em;
              }
            }
          }
        }
      }
    }
  }
}
