.moveToLeft {
	animation: moveToLeft .25s ease both;
}

.moveToRight {
	animation: moveToRight .25s ease both;
}

.moveFromLeft {
	animation: moveFromLeft .25s .05s ease both;
}

.moveFromRight {
	animation: moveFromRight .25s .05s ease both;
}


@-webkit-keyframes moveToLeft {
	from { opacity: 1; }
	to { -webkit-transform: translateX(-35%); opacity: 0; }
}
@keyframes moveToLeft {
	from { opacity: 1; }
	to { -webkit-transform: translateX(-35%); transform: translateX(-35%); opacity: 0; }
}

@-webkit-keyframes moveFromLeft {
	from { -webkit-transform: translateX(-35%); opacity: 0; }
	to { opacity: 1; }
}
@keyframes moveFromLeft {
	from { -webkit-transform: translateX(-35%); transform: translateX(-35%); opacity: 0; }
	to { opacity: 1; }
}

@-webkit-keyframes moveToRight { 
	from { opacity: 1; }
	to { -webkit-transform: translateX(35%); opacity: 0; }
}
@keyframes moveToRight { 
	from { opacity: 1; }
	to { -webkit-transform: translateX(35%); transform: translateX(35%); opacity: 0; }
}

@-webkit-keyframes moveFromRight {
	from { -webkit-transform: translateX(35%); opacity: 0; }
	to { opacity: 1; }
}
@keyframes moveFromRight {
	from { -webkit-transform: translateX(35%); transform: translateX(35%); opacity: 0; }
	to { opacity: 1; }
}

@keyframes pulse {
	0%,45% { opacity: 0; }
	55%, 100% { opacity: 1; }
}


@keyframes logo-anim-switch {
  from { transform: translateX(0%); }
  26% { transform: translateX(0%); }
  29% { transform: translateX(2%); }
  40% { transform: translateX(0%); }
}

@keyframes logo-anim-dot {
  from { transform: translateX(0%); }
  10% { transform: translateX(0%); }
  25% { transform: translateX(-1%); }
  30% { transform: translateX(9%); }
  40% { transform: translateX(7%); }
	100% { transform: translateX(7%); }
}

.logo-anim-switch {
  animation-duration: 4s;
  animation-delay: 2s;
  animation-name: logo-anim-switch;
  animation-iteration-count: 1;
}

.logo-anim-dot {
  animation-duration: 4s;
  animation-delay: 2s;
  animation-name: logo-anim-dot;
  animation-iteration-count: 1;
}