& {
	display: block;
	padding: 20px 0;
	font-family: $font-family;
	font-size: 18px;
	width: 100%;
	* {
		font-family: $font-family;
		text-rendering: auto !important;
	  font-smoothing: auto;
	  -webkit-font-smoothing: auto;
	  -moz-font-smoothing: auto;
	  -moz-osx-font-smoothing: auto;
	  color: var(--formality_col1);
	  &:focus,
	  &:active,
	  &:visited { outline: 0 !important;}
	}
	.formality__wrap {
		
	}
}