& {
	display: block;
	padding: 20px 0;
	font-family: $font-family;
	font-size: var(--formality_fontsize);
	width: 100%;
	margin-bottom: 20px;
	box-sizing: border-box;
	* {
		font-family: $font-family;
		text-rendering: auto !important;
	  font-smoothing: auto;
	  -webkit-font-smoothing: auto;
	  -moz-font-smoothing: auto;
	  -moz-osx-font-smoothing: auto;
	  color: var(--formality_col1);
	  box-sizing: border-box;
	  &:focus,
	  &:active,
	  &:visited { outline: 0 !important;}
	}
	a,
	a:hover {
		box-shadow: none;
		text-decoration: none;
	}
	.formality__wrap {
		
	}
}