@font-face {
  font-family: "HK Grotesk";
  src:
    url("../fonts/hkgrotesk-medium.woff2") format("woff2"),
    url("../fonts/hkgrotesk-medium.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HK Grotesk";
  src:
    url("../fonts/hkgrotesk-bold.woff2") format("woff2"),
    url("../fonts/hkgrotesk-bold.woff") format("woff");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Formality";
  src:
    url("../fonts/formality.woff2") format("woff2"),
    url("../fonts/formality.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
