@font-face {
  font-family: "Hanken Grotesk";
  src: url("../fonts/HankenGrotesk-Medium.woff2") format("woff2"), url("../fonts/HankenGrotesk-Medium.woff") format("woff"), url("../fonts/HankenGrotesk-Medium.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url("../fonts/HankenGrotesk-Bold.woff2") format("woff2"), url("../fonts/HankenGrotesk-Bold.woff") format("woff"), url("../fonts/HankenGrotesk-Bold.otf") format("opentype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url("../fonts/HankenGrotesk-Black.woff2") format("woff2"), url("../fonts/HankenGrotesk-Black.woff") format("woff"), url("../fonts/HankenGrotesk-Black.otf") format("opentype");
  font-style: normal;
  font-weight: 900;
}

@import url('//fonts.googleapis.com/icon?family=Material+Icons');

h4 {
  //font-weight: bold;
  font-size: 1.2em;
}
