//settings
:root {
  --formality_col1: #000000;
  --formality_col2: #ffffff;
  --formality_col3: #ff0000;
  --formality_bg: #ffffff;
  --formality_font: "Hanken Grotesk", sans-serif;
  --formality_fontsize: 20px;
  --formality_radius: 0;
  --formality_border: 2px;
}

//breakpoints
$breakpoints: (
  desktop: 1280px,
  netbook: 1024px,
  tablet: 768px,
  mobile_xl: 576px,
  mobile: 460px
);

@mixin breakpoint($device, $min:false) {
  @if $min == false {
    @media (max-width: #{map-get($breakpoints, $device)}) { @content ; }
  }
  @else {
    @media (min-width: #{map-get($breakpoints, $device) + 1px}) { @content ; }
  }
};

$icons: (
  mark: "\e900",
  fo: "\e901",
  drag_indicator: "\e902",
  space_bar: "\e903",
  keyboard_arrow_right: "\e904",
  keyboard_arrow_left: "\e905",
  keyboard_arrow_up: "\e906",
  keyboard_arrow_down: "\e907",
  keyboard_backspace: "\e908",
  keyboard_tab: "\e909",
  keyboard_return: "\e90a",
  close: "\e90b",
  arrow_back: "\e90c",
  arrow_forward: "\e90d",
  cancel: "\e90e",
  upload_file: "\e90f",
  arrow_drop_down: "\e910",
  arrow_drop_up: "\e911",
  check: "\e912",
  cloud_upload: "\e913",
  check_circle: "\e914",
  arrow_downward: "\e915",
  arrow_upward: "\e916"
);

@mixin icon($name:false, $family:true) {
  @if $family == true {
    font-family: 'Formality' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
  }
  @if $name != false {
    content: "#{map-get($icons, $name)}";
  }
}

