//fonts
$font-family: "Hanken Grotesk", sans-serif;

//colors
:root {
  --formality_col1: #000000;
  --formality_col2: #ffffff;
  --formality_col3: #ff0000;
  --formality_bg: #ffffff;
  --formality_fontsize: 20px;
  --formality_radius: 0;
  --formality_border: 2px;
}

//breakpoints
$breakpoints: (
  desktop: 1280px,
  netbook: 1024px,
  tablet: 768px,
  mobile_xl: 576px,
  mobile: 460px
);

@mixin breakpoint($device, $min:false) {
  @if $min == false {
    @media (max-width: #{map-get($breakpoints, $device)}) { @content ; }
  }
  @else {
    @media (min-width: #{map-get($breakpoints, $device)}) { @content ; }
  }
}
