$font-family: "Hanken Grotesk", sans-serif;
$theme-colors: (
  primary: #000000,
  secondary: #ffffff,
  bg: #ffffff
);
$breakpoints: (
	netbook: 1024px,
	tablet: 768px,
	mobile: 460px
);


:root {
  --formality_col1: #{map-get($theme-colors, primary)};
  --formality_col2: #{map-get($theme-colors, secondary)};
  --formality_bg: #{map-get($theme-colors, bg)}; 
}